<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true" />
    <!-- column이 NULL 일 경우에도 출력 -->
    <setting name="callSettersOnNulls" value="true" />
    <!-- row가 NULL 일 경우에도 출력 -->
    <setting name="returnInstanceForEmptyRow" value="true" />
  </settings>
  <!-- <typeAliases>
		<typeAlias alias="myCamelMap" type="com.adt.ACaaS.core.lib.MyCamelMap" />
		<typeAlias alias="myMap" type="com.adt.ACaaS.core.lib.MyMap" />
	</typeAliases> -->
</configuration>